<div class="row">
  <div class="col-sm-12">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1>Businesses</h1>
      </div>
      <div>
        <%= link_to "Add Business", new_business_path, class: "shopify-button px-5 py-2" %>
      </div>
    </div>
  </div>
  <div class="mt-4"></div>
  <div class="col-sm-12">
    <div class="input-group shadow rounded">
      <input type="text" class="form-control" placeholder="Search for business by title ID or ApI Key" />
      <span class="point_me search-button d-flex align-items-center justify-content-center px-5 border rounded" search_for="business">Search</span>
    </div>
  </div>
  <div class="mt-4"></div>
  <div class="col-sm-12">
    <div class="border rounded bg-white py-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Business</th>
            <th>Industry</th>
            <th>Apps</th>
            <th>Revenue</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @businesses.each do |business| %>
            <tr>
              <td><%= business.business_name %></td>
              <td><%= Industry.find(business.industry_id).name %></td>
              <td><%= App.where(business_id: business.id).count %></td>
              <td><%= "$ 0"  %></td>
              <td><%= link_to 'login', business %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
