<% app_ids = @apps.group_by(&:id).keys %>
<% metrics = ExternalMetric.where(app_id: app_ids, date: Date.today).select(:net, :app_id) %>
<% metrics = ExternalMetric.where(app_id: app_ids, date: Date.today - 1.days).select(:net, :app_id) if metrics.blank? %>
<% @import_logs = ImportLog.where(app_id: app_ids).where('start_time >?', 7.days.ago) %>
<% @metrics = metrics %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>App name</th>
      <th>Revenue</th>
      <th>Running Data Import</th>
      <th>Platform Data Import</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @apps.each do |app| %>
      <% logs = @import_logs.filter{|f| f.app_id == app.id } %>
      <% log_stat = (logs.filter{|f| f.status.to_i.zero? }.count.to_f/logs.count) * 100 %>
      <tr>
        <td><%= app.app_name %></td>
        <% net_data = @metrics.filter{|f| f.app_id == app.id}.first %>
        <td>$<%= number_with_precision(net_data.nil? ? 0 : net_data[:net], precision: 2, delimiter: ',') %></td>
        <td>
          <span class="text-success d-flex align-items-center justify-content-start">
            <span class="material-icons small-icons">adjust</span>
            <span class="ps-1">Ok</span>
          </span>
        </td>
        <td>
          <% if log_stat < 15 || logs.blank? %>
            <span class="text-success d-flex align-items-center justify-content-start">
              <span class="material-icons small-icons">adjust</span>
              <span class="ps-1">Ok</span>
              <% if log_stat.positive? %>
                <span class="ps-1 fs-6 text-warning">(<%= log_stat.round(2) %>% failed)</span>
              <% end %>
            </span>
          <% else %>
            <span class="text-danger d-flex align-items-center justify-content-start">
              <span class="material-icons small-icons">error</span>
              <span class="ps-1">Failing</span>
              <span class="ps-1 fs-6 text-warning">(<%= log_stat.round(2) %>% failed)</span>
            </span>
          <% end %>
        </td>
        <td><%= link_to 'Show', app %></td>
      </tr>
    <% end %>
  </tbody>
</table>
