<p id="notice"><%= notice %></p>

<h1>External Metrics</h1>

<table>
  <thead>
    <tr>
      <th>App</th>
      <th>Gross</th>
      <th>Net</th>
      <th>Trial</th>
      <th>Paying users</th>
      <th>Trial users</th>
      <th>New users</th>
      <th>Lost users</th>
      <th>Reactivations</th>
      <th>Deactivations</th>
      <th>Mrr chrun</th>
      <th>User churn</th>
      <th>Arpu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @external_metrics.each do |external_metric| %>
      <tr>
        <td><%= external_metric.app_id %></td>
        <td><%= external_metric.gross %></td>
        <td><%= external_metric.net %></td>
        <td><%= external_metric.trial %></td>
        <td><%= external_metric.paying_users %></td>
        <td><%= external_metric.trial_users %></td>
        <td><%= external_metric.reactivations %></td>
        <td><%= external_metric.new_users %></td>
        <td><%= external_metric.deactivations %></td>
        <td><%= external_metric.lost_users %></td>
        <td><%= external_metric.mrr_chrun %></td>
        <td><%= external_metric.user_churn %></td>
        <td><%= external_metric.arpu %></td>
        <td><%= link_to 'Show', external_metric %></td>
        <td><%= link_to 'Edit', edit_external_metric_path(external_metric) %></td>
        <td><%= link_to 'Destroy', external_metric, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New External Metric', new_external_metric_path %>
