<style>
  .20_px_height{
    height: 20px !important;
    font-size: 12px !important;
  }
</style>
<div class="my-3" id="<%= group %>">
  <div class="fs-3 fw-lighter"><%= group.humanize %> Last 30 Days</div>
  <div class="bg-white shadow rounded border p-3 d-flex flex-row">
    <div class="d-flex flex-column border-end flex-shrink-1">
      <table class="table table-hover" style="table-layout:fixed; width: 130px !important;">
        <thead>
          <tr class="20_px_height">
            <th width="150">Apps</th>
          </tr>
        </thead>
        <tbody>
          <% @apps.map do |app| %>
            <tr class="20_px_height">
              <td width="150"><%= app.humanize[0..16] %>...</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="d-flex flex-column border-end flex-grow-1" style="overflow-x: auto;">
      <table class="table table-hover" style="table-layout:fixed;">
        <thead>
          <tr class="20_px_height">
            <% @dates.map do |date| %>
              <th width="150"><%= date.strftime('%Y-%m-%d') %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @apps.map do |app| %>
            <tr class="20_px_height">
              <% app_metrics = @metrics.filter{|f| f.app_name == app} %>
              <% app_metrics.each_with_index.map do |metric, index| %>
                <td width="150">
                  <% text_color = if metric["#{group}"].to_f >app_metrics[index - 1]["#{group}"].to_f
                                            "#198754"
                                          elsif metric["#{group}"].to_f < app_metrics[index - 1]["#{group}"].to_f
                                            "#FF0000"
                                          else
                                            "#333333"
                                          end %>
                  <span style="color: <%= text_color %>;">
                    <%= number_with_precision(metric["#{group}"].to_f, precision: 2, delimiter: ',') %>
                  </span>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
