<table class="table table-hover">
  <thead></thead>
  <tbody>
    <% @activity.map do |activity| %>
      <tr>
        <td><%= activity.app_name %></td>
        <td><%= activity.activity %></td>
        <td><%= activity.app_id %></td>
        <td><%= activity.platform_id %></td>
        <td><%= activity.date %></td>
        <td><%= activity.shopify_domain %></td>
        <td><%= activity.shop_gid %></td>
        <td><%= activity.descritpion %></td>
        <td><%= activity.reason %></td>
      </tr>
    <% end %>
  </tbody>
</table>
