<% uninstalls = @activity.filter{|a| a.activity == 'uninstall' } %>
<% reasons = uninstalls.group_by(&:reason).keys %>
<% colors = [] %>
<% reasons.count.times do |i| %>
  <% colors << format('%06x', (rand * 0xffffff)) %>
<% end %>
<div class="row flex-row flex-nowrap scroll-x">
  <div class="col-5">
    <div class="bg-white shadow rounded border p-3 d-flex flex-column align-items-start justify-content-start my-3">
      <span class="fs-1 text-info"><%= uninstalls.count %></span>
      <span>lost users in the last 7 days</span>
      <div class="d-flex align-items-start justify-content-start whole-width my-2">
        <% reasons.each_with_index do |reason,index| %>
          <% reason_count = uninstalls.filter{|a| a.reason == reason }.count %>
          <% width = ((reason_count.to_f/uninstalls.count) * 100)%>
          <% border = "10px 0px 0px 10px" if index == 0 %>
          <% border = "0px 10px 10px 0px" if index == (reasons.count - 1) %>
          <span data-tooltip="<%= reason || "Unspecified" %>: <%= width.round(2) %>%" style="width: <%= width %>%; background: #<%= colors[index] %>; color: #<%= colors[index] %>; padding: 10px; border-radius: <%= border %>; height: 10px;"></span>
        <% end %>
      </div>
      <div class="d-flex flex-column align-items-start justify-content-start whole-width my-2">
        <% reasons.each_with_index do |reason,index| %>
          <% reason_count = uninstalls.filter{|a| a.reason == reason }.count %>
          <% percentage = ((reason_count.to_f/uninstalls.count) * 100)%>
          <div class="d-flex align-items-center justify-content-between whole-width fs-5 my-1">
            <span class="d-flex align-items-center justify-content-start">
              <span class="material-icons" style="color: #<%= colors[index] %>;">noise_control_off</span>
              <span class="flex-grow-4"><%= reason.present? ? reason.humanize : "Unspecified" %></span>
            </span>
            <span class="flex-grow-4" style="color: #<%= colors[index] %>;"><%= percentage.round(2) %>%</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="bg-white border rounded shadow">
      <%= render 'dashboard/stats/external/charts/main', data: { path: app_user_growth_bar_path(@activity.first.app_id), type: 'bar', pane: 'user_growth', title: 'User Growth' } %>
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead></thead>
  <tbody>
    <% @_activity = [] %>
    <% @_activity.map do |activity| %>
      <tr>
        <td><%= activity.app_name %></td>
        <td><%= activity.activity %></td>
        <td><%= activity.app_id %></td>
        <td><%= activity.platform_id %></td>
        <td><%= activity.date %></td>
        <td><%= activity.shopify_domain %></td>
        <td><%= activity.shop_gid %></td>
        <td><%= activity.descritpion %></td>
        <td><%= activity.reason %></td>
      </tr>
    <% end %>
  </tbody>
</table>
