<div class="py-5 bg-primary"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-2" style="min-height: 100vh;">
      <% Doc.all.map do |doc| %>
        <%= link_to doc.topic.classify, doc_path(doc.id), class: "nav-link" %>
      <% end %>
    </div>
    <div class="col-sm-10 px-5 py-3">
      <div class="text-center col-12 fs-2 my-5">Setting Up Your Apps</div>
      <div class="row">
        <% Doc.where(docs_category_id: DocsCategory.find_or_create_by(name: "Setup").id).limit(3).map do |doc| %>
          <div class="col-sm-4" onclick="window.location.href = '<%= doc_path(doc.id) %>'">
            <div class="bg-white shadow rounded border p-2 pointer">
              <div class="fw-bolder"><%= doc.topic %></div>
              <hr />
              <div><%= ActionView::Base.full_sanitizer.sanitize(doc.description)[0..215] %>...</div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="text-center col-12 fs-2 my-5">Most Viewed</div>
      <div class="row">
        <% Doc.order(requests: :desc).limit(3).map do |doc| %>
          <div class="col-sm-4" onclick="window.location.href = '<%= doc_path(doc.id) %>'">
            <div class="bg-white shadow rounded border p-2 pointer">
              <div class="fw-bolder"><%= doc.topic %></div>
              <hr />
              <div><%= ActionView::Base.full_sanitizer.sanitize(doc.description)[0..215] %>...</div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
