<!--loading -->
<div id="loading">
  <div id="loading-center">
    <%= image_tag "loader.gif", alt: "img" %>
  </div>
</div>
<!--loading End -->
<!--Banner-->
<div class="banner main-bg ">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="banner-text">
          <h1 class="font-weight-bold text-white mb-3">InflowMetrics&trade;</h1>
          <p class="text-white mb-4">Gather data from your SaaS businesses and analyse them on one platform. </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="banner-type">
          <%= image_tag "banner/02.png", class: "img-fluid banner-round wow fadeIn animated bounce slower" %>
          <div class="wow fadeInRight">
            <%= image_tag "banner/03.png", class: "img-fluid banner-person" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content--canvas">
  </div>
</div>
<!--Banner-->
<!--=================================
        MAIN CONTENT -->
<div class="main-content">
  <!--Easy Pricing Plans-->
  <section class="easy-pricing-plans gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box">
            <h2 class="title font-weight-bold">How-it-works</h2>
            <p class="sub-title">Simply connect your SaaS app to InflowMetrics and watch everything happen.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="easy-box text-center">
            <h4 class="mb-3">KPI Analysis</h4>
            <%= image_tag "demo/01.png", class: "img-fluid mb-3 image-rounded", alt: "" %>
            <p>Monitor all KPIs daily and get alerts when "weird" changes happen at any given time</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="easy-box text-center">
            <h4 class="mb-3">Easy Projections</h4>
            <%= image_tag "demo/02.png", class: "img-fluid mb-3 image-rounded", alt: "" %>
            <p>View projections based on your past data. All minor and major industry changes considered</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="easy-box text-center">
            <h4 class="mb-3">Compare Businesses</h4>
            <%= image_tag "demo/03.png", class: "img-fluid mb-3 image-rounded", alt: "" %>
            <p>Compare your businesses and see where you can borrow tips to help a lagging one</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Get tips & tricks on how to skyrocket your sales.-->
  <section class="get-tips-tricks tricks-shap">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-md-6">
          <div class="tips-img wow fadeIn animated bounce slower">
            <%= image_tag "feature/asset-10.png", class: "img-fluid", alt: "" %>
          </div>
        </div>
        <div class="col-md-6 text-left align-self-center">
          <div class="ml-3 mt-3">
            <h3 class="font-weight-bold">Get tips & tricks on how to skyrocket your sales.</h3>
            <p class="mt-3">Get tips from industry professionals and InflowMetrics community on how they grow. Contribute to the community to also help others.</p>
            <a class="button mt-3" href="https://community.inflowmetrics.com">Join Community</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Easy Pricing Plans-->
  <!--Eas Pricing Plans-->
  <!--section class="iq-pricing bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box">
            <h2 class="title font-weight-bold">Easy Pricing Plans</h2>
            <p class="sub-title">Simply dummy has been the industry's standard dummy text.</p>
          </div>
        </div>
      </div>
      <div class="row no-gutters mt-2">
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-12">
          <div class="pricing-box text-center wow slideInUp" data-wow-duration="0.5s">
            <div class="price-head mt-2 mb-2">Free</div>
            <div class="price-blog pt-4 pb-4 main-bg">
              <div class="price"> <span class="currency">$</span><strong>00/</strong><span class="month">Free</span> </div>
            </div>
            <div class="listing">
              <ul class="mt-5">
                <li>
                  <span class="time-of-year">
                    Case Management
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Hourly and Flat Fee Billing
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Custom Invoices
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Task Management
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Devices
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Payment Plans
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Clio Launcher
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Trust Requests
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Advanced Reporting
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Priority Support
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
              </ul>
            </div>
            <a class="button grey mt-5" href="#" role="button">Choose Package</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="pricing-box text-center wow slideInUp" data-wow-duration="1.5s">
            <div class="price-head mt-2 mb-2">Business</div>
            <div class="price-blog pt-4 pb-4 main-bg">
              <div class="price"> <span class="currency">$</span><strong>9.99/</strong><span class="month">Month</span> </div>
            </div>
            <div class="listing">
              <ul class="mt-5">
                <li>
                  <span class="time-of-year">
                    Custom Invoices
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Task Management
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Case Management
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Hourly and Flat Fee Billing
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Devices
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Payment Plans
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Clio Launcher
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Trust Requests
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Advanced Reporting
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
                <li>
                  <span class="time-of-year">
                    Priority Support
                    <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                    <i class="ion-information-circled"></i></span>
                </li>
              </ul>
            </div>
            <a class="button grey mt-5" href="#" role="button">Choose Package</a>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section-->
  <!--Eas Pricing Plans-->
  <!--=================================
            Clients -->
  <section class="iq-clients pt-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box mb-4">
            <h2 class="title font-weight-bold">Supported Platforms</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex">
            <div class="item ml-3 mr-3 mb-4 mt-3">
              <div class="clients-box">
                <%= image_tag "clients/clients-img1.png", class: "img-fluid client-img", alt: "image", "data-toggle": "tooltip", title: "HTML" %>
              </div>
            </div>
            <div class="item ml-3 mr-3 mb-4 mt-3">
              <div class="clients-box">
                <%= image_tag "clients/clients-img2.png", class: "img-fluid client-img", alt: "image", "data-toggle": "tooltip", title: "Wordpress" %>
              </div>
            </div>
            <div class="item ml-3 mr-3 mb-4 mt-3">
              <div class="clients-box">
                <%= image_tag "clients/clients-img3.png", class: "img-fluid client-img", alt: "image", "data-toggle": "tooltip", title: "Shopify" %>
              </div>
            </div>
            <div class="item ml-3 mr-3 mb-4 mt-3">
              <div class="clients-box">
                <%= image_tag "clients/clients-img4.png", class: "img-fluid client-img", alt: "image", "data-toggle": "tooltip", title: "CSS" %>
              </div>
            </div>
            <div class="item ml-3 mr-3 mb-4 mt-3">
              <div class="clients-box">
                <%= image_tag "clients/clients-img5.png", class: "img-fluid client-img", alt: "image", "data-toggle": "tooltip", title: "jQuery" %>
              </div>
            </div>
            <div class="item ml-3 mr-3 mb-4 mt-3">
              <div class="clients-box">
                <%= image_tag "clients/clients-img6.png", class: "img-fluid client-img", alt: "image", "data-toggle": "tooltip", title: "Bootstrap" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--=================================
        MAIN CONTENT -->
<!--=================================
        Clients -->
<!--Footer start-->
<footer id="contact" class="iq-footerr main-bg fshap ">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-6 ">
          <h4 class= "text-white  mb-3">Menu</h4>
          <ul class="menu">
            <li><a href="<%= root_url %>">Home</a></li>
            <li><a href="https://inflowmetrics.crisp.help/">Documentation</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 iq-rmt-20">
          <h4 class= "text-white  mb-3">Subscribe To Newsletter</h4>
          <form class="form-inline mb-5">
            <div class="form-group">
              <input type="text" class="form-control search-btn" id="inputPassword2" placeholder="Email">
            </div>
            <a href="JavaScript:Void(0);" class="button submit-btn">Submit</a>
          </form>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="contact-bg">
            <h4 class= "text-white iq-rmt-30  mb-3">Address</h4>
            <ul class="iq-contact text-white">
              <li>
                <i class="fas fa-envelope"></i>
                <p>accounts@inflowmetrics.com</p>
              </li>
              <li>
                <i class="fas fa-map-marker-alt"></i>
                <p>2055 Limestone Rd STE 200-C,
                  Wilmington, DE 19808
                  United States</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="logo iq-rmt-30">
            <a href="<%= root_url %>"><%= image_tag "logo.png", class: "img-fluid", alt: "img" %></a>
            <p class="mt-3 text-white"> </p>
            <div class="mt-3 text-white link">Property of <a href="https://prycely.com/"> Prycely LLC </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--back-to-top -->
  <div id="back-to-top">
    <a class="top" id="top" href="#top"><span>Scroll Up</span> <i class="ion-ios-arrow-thin-up"></i></a>
  </div>
  <!--back-to-top End -->
</footer>
<!--=================================
        Chatbot -->
<!--=================================
        Chatbot -->
<!--=================================
        Cookies -->
<div id="cookie_div" class="align-items-center"> We use cookies to give you tailored experiences on our website.
  <a class="button grey text-right ml-3" href="#" role="button" id="cookie">Accept </a>
</div>
