<%= form_with(model: industry) do |form| %>
  <% if industry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(industry.errors.count, "error") %> prohibited this industry from being saved:</h2>

      <ul>
        <% industry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="row">
    <div class="col-sm-12 mb-5">
      <div class="actions whole-width text-end">
        <%= form.submit class: "shopify-button btn-lg" %>
      </div>
    </div>
  </div>
<% end %>
