<div class="overview_cards row m-3">
  <span class="fs-3 fw-lighter"><%= platform.name.humanize %> Data</span>
</div>
<div class="row my-2">
  <div class="col-sm-12">
    <div class="bg-white border rounded shadow">
      <%= render 'dashboard/stats/external/charts/main', data: { path: app_mrr_path(@app.id, platform.id), type: 'bar', pane: 'revenue_trend', title: 'Revenue Trend' } %>
    </div>
  </div>
</div>
<div class="row my-2">
  <div class="col-sm-12">
    <div class="bg-white border rounded shadow">
      <%= render 'dashboard/stats/external/charts/main', data: { path: app_revenue_chart_path(@app.id, platform.id), type: 'bar', pane: 'revenue_breakdown', title: 'Revenue Breakdown' } %>
    </div>
  </div>
</div>
<div class="overview_cards row m-3">
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= refund_metrics_path %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">Gross MRR</div>
      <hr>
      <div class="fs-1"><small class="fs-6"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(external_metric.gross, precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= refund_metrics_path %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">Net Rrevenue</div>
      <hr>
      <div class="fs-1"><small class="fs-6"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(external_metric.net, precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= refund_metrics_path %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">ARR</div>
      <hr>
      <div class="fs-1"><small class="fs-6"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(external_metric.arr, precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
</div>
<div class="overview_cards row m-3">
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= refund_metrics_path %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">Recurring Revenue</div>
      <hr>
      <div class="fs-1"><small class="fs-6"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(external_metric.recurring_revenue, precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= refund_metrics_path %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">One Time Charge</div>
      <hr>
      <div class="fs-1"><small class="fs-6"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(external_metric.one_time_charge, precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= refund_metrics_path %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">Refunds</div>
      <hr>
      <div class="fs-1"><small class="fs-6"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(external_metric.refunds, precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
</div>
<div class="overview_cards row m-3">
  <div id="user_activity"></div>
  <script>
    pull_for_table('<%= user_activity_path %>', '<%= @app.id %>', '<%= platform.id %>', 7, 0, 'user_activity')
  </script>
</div>
<hr />
