<% data = external_metric.last.first %>
<div class="overview_cards row m-3">
  <h3><%= Platform.find(external_metric.first).name.humanize %> Data</h3>
</div>
<div class="overview_cards row m-3">
  <div class="col-sm-4">
    <div class="border rounded p-3 my-2 shadow bg-white">
      <div class="d-flex flex-column">
        <span>Gross Mrr</span>
        <span class="fs-1"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(data.gross, precision: 2, delimiter: ',', separator: '.') %></span>
      <span></span>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="border rounded p-3 my-2 shadow bg-white">
    <div class="d-flex flex-column">
      <span>Net Revenue</span>
      <span class="fs-1"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(data.net, precision: 2, delimiter: ',', separator: '.') %></span>
    <span></span>
  </div>
</div>
</div>
<div class="col-sm-4">
  <div class="border rounded p-3 my-2 shadow bg-white">
    <div class="d-flex flex-column">
      <span>Annual Run Rate</span>
      <span class="fs-1"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(data.arr, precision: 2, delimiter: ',', separator: '.') %></span>
    <span></span>
  </div>
</div>
</div>
<div class="col-sm-4">
  <div class="border rounded p-3 my-2 shadow bg-white">
    <div class="d-flex flex-column">
      <span>Recurring Revenue</span>
      <span class="fs-1"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(data.recurring_revenue, precision: 2, delimiter: ',', separator: '.') %></span>
  </div>
</div>
</div>
<div class="col-sm-4">
  <div class="border rounded p-3 my-2 shadow bg-white">
    <div class="d-flex flex-column">
      <span>One Time Charge</span>
      <span class="fs-1"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(data.one_time_charge, precision: 2, delimiter: ',', separator: '.') %></span>
  </div>
</div>
</div>
<div class="col-sm-4">
  <div class="border rounded p-3 my-2 shadow bg-white">
    <div class="d-flex flex-column">
      <span>Refunds</span>
      <span class="fs-1"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(data.refunds, precision: 2, delimiter: ',', separator: '.') %></span>
    <span></span>
  </div>
</div>
</div>
</div>
<hr />
