<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= @running_data_endpoint.app_id %>
</p>

<p>
  <strong>Endpoint:</strong>
  <%= @running_data_endpoint.endpoint %>
</p>

<p>
  <strong>Data rounds:</strong>
  <%= @running_data_endpoint.data_rounds %>
</p>

<%= link_to 'Edit', edit_running_data_endpoint_path(@running_data_endpoint) %> |
<%= link_to 'Back', running_data_endpoints_path %>
