<div class="row">
  <div class="col-sm-7 p-4 full-height">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="d-flex flex-column align-items-center justify-content-center full-height">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-floating my-2">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Placeholder" %>
              <%= f.label :email %>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-floating my-2">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Placeholder" %>
              <%= f.label :password %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field remember_fields">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

            <%= f.submit "Log in", class: "btn btn-primary form-control" %>
          </div>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
  <div class="col-sm-5 full-height">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" width="1000" height="1000" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);">
      <defs>
        <clipPath id="__lottie_element_2">
          <rect width="1000" height="1000" x="0" y="0"></rect>
        </clipPath>
        <linearGradient id="__lottie_element_6" spreadMethod="pad" gradientUnits="userSpaceOnUse" x1="-35.007999420166016" y1="-440.92999267578125" x2="-14.656000137329102" y2="395.32000732421875">
          <stop offset="0%" stop-color="rgb(255,255,255)"></stop>
          <stop offset="50%" stop-color="rgb(181,172,246)"></stop>
          <stop offset="100%" stop-color="rgb(107,90,237)"></stop>
        </linearGradient>
        <linearGradient id="__lottie_element_10" spreadMethod="pad" gradientUnits="userSpaceOnUse" x1="127.55500030517578" y1="500.71099853515625" x2="9.836000442504883" y2="-661.125">
          <stop offset="0%" stop-color="rgb(90,255,247)"></stop>
          <stop offset="50%" stop-color="rgb(172,255,251)"></stop>
          <stop offset="100%" stop-color="rgb(255,255,255)"></stop>
        </linearGradient>
        <linearGradient id="__lottie_element_17" spreadMethod="pad" gradientUnits="userSpaceOnUse" x1="1.0429999828338623" y1="-45.542999267578125" x2="0.07800000160932541" y2="2.0980000495910645">
          <stop offset="0%" stop-color="rgb(245,246,250)"></stop>
          <stop offset="50%" stop-color="rgb(250,250,252)"></stop>
          <stop offset="100%" stop-color="rgb(255,255,255)"></stop>
        </linearGradient>
        <linearGradient id="__lottie_element_18" spreadMethod="pad" gradientUnits="userSpaceOnUse" x1="1.0429999828338623" y1="-45.542999267578125" x2="0.07800000160932541" y2="2.0980000495910645">
          <stop offset="0%" stop-color="rgb(245,246,250)"></stop>
          <stop offset="50%" stop-color="rgb(250,250,252)"></stop>
          <stop offset="100%" stop-color="rgb(255,255,255)"></stop>
        </linearGradient>
        <linearGradient id="__lottie_element_19" spreadMethod="pad" gradientUnits="userSpaceOnUse" x1="1.0429999828338623" y1="-45.542999267578125" x2="0.07800000160932541" y2="2.0980000495910645">
          <stop offset="0%" stop-color="rgb(245,246,250)"></stop>
          <stop offset="50%" stop-color="rgb(250,250,252)"></stop>
          <stop offset="100%" stop-color="rgb(255,255,255)"></stop>
        </linearGradient>
        <linearGradient id="__lottie_element_20" spreadMethod="pad" gradientUnits="userSpaceOnUse" x1="1.0429999828338623" y1="-45.542999267578125" x2="0.07800000160932541" y2="2.0980000495910645">
          <stop offset="0%" stop-color="rgb(245,246,250)"></stop>
          <stop offset="50%" stop-color="rgb(250,250,252)"></stop>
          <stop offset="100%" stop-color="rgb(255,255,255)"></stop>
        </linearGradient>
        <linearGradient id="__lottie_element_26" spreadMethod="pad" gradientUnits="userSpaceOnUse" x1="-117.40599822998047" y1="187.71099853515625" x2="-4.242000102996826" y2="23.398000717163086">
          <stop offset="0%" stop-color="rgb(73,57,196)"></stop>
          <stop offset="50%" stop-color="rgb(90,73,216)"></stop>
          <stop offset="100%" stop-color="rgb(107,90,237)"></stop>
        </linearGradient>
        <linearGradient id="__lottie_element_67" spreadMethod="pad" gradientUnits="userSpaceOnUse" x1="90.7030029296875" y1="215.7729949951172" x2="5.519999980926514" y2="-8.13700008392334">
          <stop offset="0%" stop-color="rgb(73,57,196)"></stop>
          <stop offset="50%" stop-color="rgb(90,73,216)"></stop>
          <stop offset="100%" stop-color="rgb(107,90,237)"></stop>
        </linearGradient>
        <linearGradient id="__lottie_element_68" spreadMethod="pad" gradientUnits="userSpaceOnUse" x1="90.7030029296875" y1="215.7729949951172" x2="5.519999980926514" y2="-8.13700008392334">
          <stop offset="0%" stop-color="rgb(73,57,196)"></stop>
          <stop offset="50%" stop-color="rgb(90,73,216)"></stop>
          <stop offset="100%" stop-color="rgb(107,90,237)"></stop>
        </linearGradient>
        <linearGradient id="__lottie_element_109" spreadMethod="pad" gradientUnits="userSpaceOnUse" x1="0.5569999814033508" y1="-11.847999572753906" x2="0.7400000095367432" y2="40.354000091552734">
          <stop offset="0%" stop-color="rgb(245,246,250)"></stop>
          <stop offset="50%" stop-color="rgb(250,250,252)"></stop>
          <stop offset="100%" stop-color="rgb(255,255,255)"></stop>
        </linearGradient>
      </defs>
      <g clip-path="url(#__lottie_element_2)">
        <g transform="matrix(1,0,0,1,-0.25,171.02301025390625)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,261.7120056152344,300.302001953125)">
            <path fill="url(#__lottie_element_6)" fill-opacity="1" d=" M0,-300.052001953125 C-144.4010009765625,-300.052001953125 -261.4620056152344,-182.99200439453125 -261.4620056152344,-38.590999603271484 C-261.4620056152344,-38.590999603271484 -261.4620056152344,300.052001953125 -261.4620056152344,300.052001953125 C-261.4620056152344,300.052001953125 261.4620056152344,300.052001953125 261.4620056152344,300.052001953125 C261.4620056152344,300.052001953125 261.4620056152344,-38.590999603271484 261.4620056152344,-38.590999603271484 C261.4620056152344,-182.99200439453125 144.40199279785156,-300.052001953125 0.0010000000474974513,-300.052001953125 C0.0010000000474974513,-300.052001953125 0,-300.052001953125 0,-300.052001953125z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,240.67398071289062,-0.010009765625)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,379.7879943847656,500.1300048828125)">
            <path fill="url(#__lottie_element_10)" fill-opacity="1" d=" M0.781000018119812,-499.8800048828125 C-209.26400756835938,-499.8800048828125 -379.5379943847656,-329.6050109863281 -379.5379943847656,-119.55999755859375 C-379.5379943847656,-119.55999755859375 -379.5379943847656,499.8800048828125 -379.5379943847656,499.8800048828125 C-379.5379943847656,499.8800048828125 379.5379943847656,499.8800048828125 379.5379943847656,499.8800048828125 C379.5379943847656,499.8800048828125 379.5379943847656,-154.27699279785156 379.5379943847656,-154.27699279785156 C362.0010070800781,-348.04901123046875 199.1219940185547,-499.8800048828125 0.7820000052452087,-499.8800048828125 C0.7820000052452087,-499.8800048828125 0.781000018119812,-499.8800048828125 0.781000018119812,-499.8800048828125z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,-0.25,607.3470458984375)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,500.25,196.4510040283203)">
            <path fill="rgb(233,234,238)" fill-opacity="1" d=" M488.93499755859375,98.0979995727539 C488.93499755859375,98.0979995727539 338.1600036621094,98.0979995727539 338.1600036621094,98.0979995727539 C332.0480041503906,98.0979995727539 327.093994140625,90.2229995727539 327.093994140625,80.50800323486328 C327.093994140625,80.50800323486328 327.093994140625,17.58300018310547 327.093994140625,17.58300018310547 C327.093994140625,7.86899995803833 322.13800048828125,-0.006000000052154064 316.0270080566406,-0.006000000052154064 C316.0270080566406,-0.006000000052154064 165.2530059814453,-0.006000000052154064 165.2530059814453,-0.006000000052154064 C159.14100646972656,-0.006000000052154064 154.18699645996094,-7.88100004196167 154.18699645996094,-17.5939998626709 C154.18699645996094,-17.5939998626709 154.18699645996094,-80.50800323486328 154.18699645996094,-80.50800323486328 C154.18699645996094,-90.22200012207031 149.23300170898438,-98.09700012207031 143.1219940185547,-98.09700012207031 C143.1219940185547,-98.09700012207031 -7.6539998054504395,-98.09700012207031 -7.6539998054504395,-98.09700012207031 C-13.765000343322754,-98.09700012207031 -18.719999313354492,-105.97200012207031 -18.719999313354492,-115.68699645996094 C-18.719999313354492,-115.68699645996094 -18.719999313354492,-178.61199951171875 -18.719999313354492,-178.61199951171875 C-18.719999313354492,-188.3260040283203 -23.673999786376953,-196.2010040283203 -29.785999298095703,-196.2010040283203 C-29.785999298095703,-196.2010040283203 -35.5629997253418,-196.2010040283203 -35.5629997253418,-196.2010040283203 C-35.5629997253418,-196.2010040283203 -180.56100463867188,-196.2010040283203 -180.56100463867188,-196.2010040283203 C-180.56100463867188,-196.2010040283203 -483.82501220703125,-196.2010040283203 -483.82501220703125,-196.2010040283203 C-492.75799560546875,-196.2010040283203 -499.9989929199219,-188.9600067138672 -499.9989929199219,-180.02699279785156 C-499.9989929199219,-180.02699279785156 -499.9989929199219,180.03199768066406 -499.9989929199219,180.03199768066406 C-499.9989929199219,188.96099853515625 -492.760009765625,196.20199584960938 -483.8290100097656,196.20199584960938 C-483.8290100097656,196.20199584960938 -191.6269989013672,196.20199584960938 -191.6269989013672,196.20199584960938 C-191.6269989013672,196.20199584960938 -19.38800048828125,196.20199584960938 -19.38800048828125,196.20199584960938 C-19.38800048828125,196.20199584960938 483.83099365234375,196.20199584960938 483.83099365234375,196.20199584960938 C492.760986328125,196.20199584960938 500,188.96099853515625 500,180.03199768066406 C500,180.03199768066406 500,115.68699645996094 500,115.68699645996094 C500,105.9729995727539 495.0459899902344,98.0979995727539 488.93499755859375,98.0979995727539z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,-0.25,607.3499755859375)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,246.4199981689453,49.29999923706055)">
            <path fill="url(#__lottie_element_17)" fill-opacity="1" d=" M-246,-49.25 C-246.6699981689453,-41.650001525878906 -246.1699981689453,-41.808998107910156 -246.1699981689453,-32.88100051879883 C-246.1699981689453,-32.88100051879883 -246.1699981689453,49.04999923706055 -246.1699981689453,49.04999923706055 C-246.1699981689453,49.04999923706055 246.1699981689453,49.04999923706055 246.1699981689453,49.04999923706055 C240.05999755859375,49.04999923706055 235.11000061035156,41.17900085449219 235.11000061035156,31.458999633789062 C235.11000061035156,31.458999633789062 235.11000061035156,-31.459999084472656 235.11000061035156,-31.459999084472656 C235.11000061035156,-41.18000030517578 230.14999389648438,-49.04999923706055 224.0399932861328,-49.04999923706055 C224.0399932861328,-49.04999923706055 -246,-49.25 -246,-49.25z"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,400.5400085449219,147.39999389648438)">
            <path fill="url(#__lottie_element_18)" fill-opacity="1" d=" M-334.1300048828125,-49.04999923706055 C-328.0199890136719,-49.04999923706055 -323.05999755859375,-41.17100143432617 -323.05999755859375,-31.459999084472656 C-323.05999755859375,-31.459999084472656 -323.05999755859375,31.450000762939453 -323.05999755859375,31.450000762939453 C-323.05999755859375,41.17100143432617 -318.1099853515625,49.040000915527344 -312,49.040000915527344 C-312,49.040000915527344 -161.22000122070312,49.040000915527344 -161.22000122070312,49.040000915527344 C-161.11900329589844,49.040000915527344 -161.02999877929688,49.040000915527344 -160.92999267578125,49.04999923706055 C-160.92999267578125,49.04999923706055 334.1300048828125,49.04999923706055 334.1300048828125,49.04999923706055 C334.1300048828125,49.04999923706055 334.1300048828125,49.040000915527344 334.1300048828125,49.040000915527344 C334.1300048828125,49.040000915527344 264.9590148925781,49.040000915527344 264.9590148925781,49.040000915527344 C258.8500061035156,49.040000915527344 253.88999938964844,41.17100143432617 253.88999938964844,31.450000762939453 C253.88999938964844,31.450000762939453 253.88999938964844,-31.459999084472656 253.88999938964844,-31.459999084472656 C253.88999938964844,-41.17100143432617 248.94000244140625,-49.04999923706055 242.8300018310547,-49.04999923706055 C242.8300018310547,-49.04999923706055 -334.1300048828125,-49.04999923706055 -334.1300048828125,-49.04999923706055z"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,539.010009765625,245.5)">
            <path fill="url(#__lottie_element_19)" fill-opacity="1" d=" M-299.3999938964844,-49.04999923706055 C-293.4200134277344,-48.810001373291016 -288.6300048828125,-41.029998779296875 -288.6300048828125,-31.4689998626709 C-288.6300048828125,-31.4689998626709 -288.6300048828125,31.458999633789062 -288.6300048828125,31.458999633789062 C-288.6300048828125,41.16999816894531 -283.6700134277344,49.04999923706055 -277.55999755859375,49.04999923706055 C-277.55999755859375,49.04999923706055 299.3999938964844,49.04999923706055 299.3999938964844,49.04999923706055 C293.2909851074219,49.04999923706055 288.33099365234375,41.16999816894531 288.33099365234375,31.458999633789062 C288.33099365234375,31.458999633789062 288.33099365234375,-31.4689998626709 288.33099365234375,-31.4689998626709 C288.33099365234375,-41.029998779296875 283.5400085449219,-48.810001373291016 277.54998779296875,-49.04999923706055 C277.54998779296875,-49.04999923706055 -299.3999938964844,-49.04999923706055 -299.3999938964844,-49.04999923706055z"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,706.2349853515625,343.6000061035156)">
            <path fill="url(#__lottie_element_20)" fill-opacity="1" d=" M-294.0150146484375,-49.04999923706055 C-287.90399169921875,-49.04999923706055 -282.94500732421875,-41.18000030517578 -282.94500732421875,-31.459999084472656 C-282.94500732421875,-31.459999084472656 -282.94500732421875,49.04999923706055 -282.94500732421875,49.04999923706055 C-282.94500732421875,49.04999923706055 294.0150146484375,49.04999923706055 294.0150146484375,49.04999923706055 C294.0150146484375,49.04999923706055 294.0150146484375,-31.459999084472656 294.0150146484375,-31.459999084472656 C294.0150146484375,-41.18000030517578 289.05499267578125,-49.04999923706055 282.9460144042969,-49.04999923706055 C282.9460144042969,-49.04999923706055 -294.0150146484375,-49.04999923706055 -294.0150146484375,-49.04999923706055z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,202.614990234375,258.67999267578125)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,54.56700134277344,57.03900146484375)">
            <path fill="rgb(28,15,124)" fill-opacity="1" d=" M42.60900115966797,-55.61899948120117 C42.60900115966797,-55.61899948120117 54.31700134277344,10.192000389099121 44.965999603271484,49.55500030517578 C44.965999603271484,49.55500030517578 -13.126999855041504,41.15800094604492 -24.18600082397461,56.78900146484375 C-24.18600082397461,56.78900146484375 -54.31800079345703,-10.888999938964844 -31.97100067138672,-56.78900146484375 C-31.97100067138672,-56.78900146484375 42.60900115966797,-55.61899948120117 42.60900115966797,-55.61899948120117z"></path>
          </g>
        </g>
        <g transform="matrix(1,0.0000064353748712164816,-0.0000064353748712164816,1,424.881103515625,776.56494140625)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,8.803999900817871,37.6870002746582)">
            <path fill="rgb(211,207,251)" fill-opacity="1" d=" M4.4730000495910645,30.413000106811523 C4.4730000495910645,30.413000106811523 7.690000057220459,-30.673999786376953 7.690000057220459,-30.673999786376953 C7.864999771118164,-34.137001037597656 5.198999881744385,-37.08700180053711 1.7350000143051147,-37.262001037597656 C-1.7280000448226929,-37.4370002746582 -4.677999973297119,-34.770999908447266 -4.853000164031982,-31.30699920654297 C-4.853000164031982,-31.30699920654297 -7.690999984741211,24.929000854492188 -7.690999984741211,24.929000854492188 C-7.864999771118164,28.392000198364258 -5.199999809265137,31.341999053955078 -1.7359999418258667,31.517000198364258 C-1.7359999418258667,31.517000198364258 3.0850000381469727,37.4370002746582 4.4730000495910645,30.413000106811523z"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,12.82699966430664,70.51499938964844)">
            <path fill="rgb(211,207,251)" fill-opacity="1" d=" M-0.3240000009536743,-3.9749999046325684 C-0.3240000009536743,-3.9749999046325684 3.38100004196167,-1.3519999980926514 3.38100004196167,-1.3519999980926514 C7.052000045776367,1.246999979019165 9.657999992370605,4.7829999923706055 11.447999954223633,8.208999633789062 C12.57699966430664,10.369000434875488 10.289999961853027,11.230999946594238 7.890999794006348,9.534000396728516 C7.890999794006348,9.534000396728516 -9.076000213623047,-2.4779999256134033 -9.076000213623047,-2.4779999256134033 C-11.906999588012695,-4.480999946594238 -12.57699966430664,-8.399999618530273 -10.574000358581543,-11.230999946594238 C-10.574000358581543,-11.230999946594238 -0.3240000009536743,-3.9749999046325684 -0.3240000009536743,-3.9749999046325684z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,411.36102294921875,538.4349975585938)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,35.367000579833984,134.22799682617188)">
            <path fill="rgb(47,34,149)" fill-opacity="1" d=" M-12.991000175476074,133.927001953125 C-8.161999702453613,134.375 -2.76200008392334,130.0659942626953 -1.7760000228881836,124.66000366210938 C-1.7760000228881836,124.66000366210938 30.990999221801758,-94.55599975585938 30.990999221801758,-94.55599975585938 C35.117000579833984,-117.16300201416016 16.665000915527344,-133.97799682617188 -5.302999973297119,-133.97799682617188 C-5.302999973297119,-133.97799682617188 -35.117000579833984,-133.70899963378906 -35.117000579833984,-133.70899963378906 C-35.117000579833984,-133.70899963378906 -24.18400001525879,122.58200073242188 -24.18400001525879,122.58200073242188 C-24.211000442504883,128.8000030517578 -18.2810001373291,133.43600463867188 -12.991000175476074,133.927001953125z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,346.9169921875,764.0869750976562)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,15.210000038146973,37.2130012512207)">
            <path fill="rgb(211,207,251)" fill-opacity="1" d=" M-3.427999973297119,30.45599937438965 C-3.427999973297119,30.45599937438965 13.972999572753906,-28.187000274658203 13.972999572753906,-28.187000274658203 C14.95300006866455,-31.513999938964844 13.050000190734863,-35.00400161743164 9.722999572753906,-35.983001708984375 C6.395999908447266,-36.9630012512207 2.9049999713897705,-35.060001373291016 1.9259999990463257,-31.732999801635742 C1.9259999990463257,-31.732999801635742 -13.972999572753906,22.2810001373291 -13.972999572753906,22.2810001373291 C-14.95300006866455,25.607999801635742 -13.050000190734863,29.099000930786133 -9.722999572753906,30.077999114990234 C-9.722999572753906,30.077999114990234 -6.419000148773193,36.9630012512207 -3.427999973297119,30.45599937438965z"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,10.418000221252441,69.88099670410156)">
            <path fill="rgb(211,207,251)" fill-opacity="1" d=" M0.9760000109672546,-3.9079999923706055 C0.9760000109672546,-3.9079999923706055 3.9660000801086426,-0.492000013589859 3.9660000801086426,-0.492000013589859 C6.927999973297119,2.8929998874664307 8.63599967956543,6.940000057220459 9.576000213623047,10.689000129699707 C10.168000221252441,13.053000450134277 7.743000030517578,13.357000350952148 5.808000087738037,11.145999908447266 C5.808000087738037,11.145999908447266 -7.883999824523926,-4.497000217437744 -7.883999824523926,-4.497000217437744 C-10.168000221252441,-7.105999946594238 -9.904000282287598,-11.072999954223633 -7.295000076293945,-13.357000350952148 C-7.295000076293945,-13.357000350952148 0.9760000109672546,-3.9079999923706055 0.9760000109672546,-3.9079999923706055z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,157.218994140625,532.8919677734375)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,162.86099243164062,133.10699462890625)">
            <path fill="rgb(72,57,196)" fill-opacity="1" d=" M124.24099731445312,-127.0459976196289 C124.24099731445312,-127.0459976196289 123.60199737548828,-127.0459976196289 123.60199737548828,-127.0459976196289 C122.33899688720703,-127.1989974975586 121.05699920654297,-127.2959976196289 119.75599670410156,-127.31500244140625 C119.75599670410156,-127.31500244140625 -138.86500549316406,-132.85699462890625 -138.86500549316406,-132.85699462890625 C-138.86500549316406,-132.85699462890625 -162.61099243164062,-40.95100021362305 -71.99600219726562,-40.95100021362305 C-1.6759999990463257,-40.95100021362305 1.25600004196167,-56.875999450683594 67.19599914550781,-70.83999633789062 C72.36799621582031,-71.93599700927734 76.88200378417969,-67.2490005493164 75.6240005493164,-62.112998962402344 C75.6240005493164,-62.112998962402344 35.08700180053711,116.85700225830078 35.08700180053711,116.85700225830078 C33.724998474121094,122.41500091552734 36.38100051879883,128.43299865722656 41.69499969482422,130.5570068359375 C47.45399856567383,132.85699462890625 53.82699966430664,130.14599609375 56.257999420166016,124.64900207519531 C56.257999420166016,124.64900207519531 153.3159942626953,-82.39600372314453 153.3159942626953,-82.39600372314453 C162.61099243164062,-103.41300201416016 147.2220001220703,-127.0459976196289 124.24099731445312,-127.0459976196289z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,343.24798583984375,497.00799560546875)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,27.82699966430664,12.326000213623047)">
            <path fill="rgb(211,207,251)" fill-opacity="1" d=" M-27.576000213623047,3.7850000858306885 C-27.576000213623047,3.7850000858306885 -20.729000091552734,-0.014999999664723873 -11.173999786376953,3.5320000648498535 C-1.61899995803833,7.079999923706055 11.02400016784668,12.076000213623047 17.44700050354004,10.232000350952148 C23.8700008392334,8.387999534606934 27.576000213623047,-3.2230000495910645 13.213000297546387,-7.64900016784668 C-1.1510000228881836,-12.076000213623047 -16.256999969482422,-10.435999870300293 -27.50200080871582,-3.73799991607666 C-27.50200080871582,-3.73799991607666 -27.576000213623047,3.7850000858306885 -27.576000213623047,3.7850000858306885z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,207.4669952392578,350.06597900390625)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,74.62699890136719,87.32599639892578)">
            <path fill="rgb(90,72,224)" fill-opacity="1" d=" M-38.55699920654297,-77.99099731445312 C-45.499000549316406,-70.99800109863281 -74.37699890136719,-31.972999572753906 -45.584999084472656,32.92399978637695 C-21.559999465942383,87.07599639892578 45.724998474121094,81.30400085449219 67.34700012207031,77.90799713134766 C71.27100372314453,77.29100036621094 74.19100189208984,73.96199798583984 74.28099822998047,69.98999786376953 C74.37699890136719,65.7020034790039 71.1520004272461,62.07400131225586 66.88500213623047,61.64500045776367 C47.263999938964844,59.67399978637695 -4.559000015258789,51.375 -16.94300079345703,18.22100067138672 C-32.305999755859375,-22.902000427246094 -4.830999851226807,-52.75299835205078 -2.3269999027252197,-63.09400177001953 C0.1770000010728836,-73.43399810791016 0.25600001215934753,-78.42900085449219 -10.097999572753906,-84.4229965209961 C-13.300999641418457,-86.2770004272461 -16.56399917602539,-87.07599639892578 -19.7549991607666,-87.07599639892578 C-26.878999710083008,-87.07599639892578 -33.638999938964844,-83.09400177001953 -38.55699920654297,-77.99099731445312z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,178.15699768066406,340.864990234375)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,63.37099838256836,109.23100280761719)">
            <path fill="url(#__lottie_element_26)" fill-opacity="1" d=" M-48.948001861572266,-90.91000366210938 C-48.95199966430664,-90.63300323486328 -28.961000442504883,-21.61400032043457 -43.44499969482422,28.458999633789062 C-57.41999816894531,76.7760009765625 -63.12099838256836,88.58899688720703 -63.12099838256836,88.58899688720703 C-63.12099838256836,88.58899688720703 -24.357999801635742,108.98100280761719 50.47600173950195,90.24299621582031 C50.47600173950195,90.24299621582031 35.33399963378906,61.04800033569336 36.362998962402344,21.229000091552734 C37.393001556396484,-18.590999603271484 63.12099838256836,-89.8219985961914 31.23900032043457,-103.12200164794922 C21.41699981689453,-107.22000122070312 9.642999649047852,-108.98100280761719 -1.815999984741211,-108.98100280761719 C-25.982999801635742,-108.98100280761719 -48.75899887084961,-101.15399932861328 -48.948001861572266,-90.91000366210938z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,277.6419982910156,503.90899658203125)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,27.242000579833984,10.79800033569336)">
            <path fill="rgb(211,207,251)" fill-opacity="1" d=" M-25.50200080871582,10.456999778747559 C-25.50200080871582,10.456999778747559 -19.593000411987305,5.316999912261963 -9.508999824523926,6.802000045776367 C0.574999988079071,8.286999702453613 13.979000091552734,10.54800033569336 19.878999710083008,7.409999847412109 C25.777999877929688,4.271999835968018 26.992000579833984,-7.855999946594238 12.022000312805176,-9.20199966430664 C-2.947999954223633,-10.54800033569336 -17.382999420166016,-5.804999828338623 -26.992000579833984,3.0820000171661377 C-26.992000579833984,3.0820000171661377 -25.50200080871582,10.456999778747559 -25.50200080871582,10.456999778747559z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,257.7610168457031,429.77301025390625)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,140.9040069580078,54.58100128173828)">
            <path fill="rgb(212,215,226)" fill-opacity="1" d=" M-58.97800064086914,35.827999114990234 C-60.80699920654297,39.125999450683594 -64.28199768066406,41.17300033569336 -68.0530014038086,41.17300033569336 C-68.0530014038086,41.17300033569336 -134.0500030517578,41.17300033569336 -134.0500030517578,41.17300033569336 C-137.68699645996094,41.17300033569336 -140.6540069580078,44.138999938964844 -140.6540069580078,47.7760009765625 C-140.6540069580078,51.3650016784668 -137.68699645996094,54.33100128173828 -134.0500030517578,54.33100128173828 C-134.0500030517578,54.33100128173828 -61.94200134277344,54.33100128173828 -61.94200134277344,54.33100128173828 C-61.94200134277344,54.33100128173828 -61.94200134277344,54.284000396728516 -61.94200134277344,54.284000396728516 C-61.94200134277344,54.284000396728516 -57.347999572753906,46.005001068115234 -57.347999572753906,46.005001068115234 C-57.29899978637695,46.005001068115234 -57.29999923706055,45.957000732421875 -57.29999923706055,45.957000732421875 C-57.29999923706055,45.957000732421875 -54.66699981689453,41.17300033569336 -54.66699981689453,41.17300033569336 C-54.66699981689453,41.17300033569336 -42.22700119018555,18.731000900268555 -42.22700119018555,18.731000900268555 C-42.22700119018555,18.731000900268555 -37.96900177001953,11.074999809265137 -37.96900177001953,11.074999809265137 C-37.96900177001953,11.074999809265137 -9.163000106811523,-40.84199905395508 -9.163000106811523,-40.84199905395508 C-6.625999927520752,-45.48400115966797 -0.2150000035762787,-49.215999603271484 5.048999786376953,-49.215999603271484 C5.048999786376953,-49.215999603271484 136.2519989013672,-49.215999603271484 136.2519989013672,-49.215999603271484 C138.1179962158203,-49.215999603271484 139.6490020751953,-48.73699951171875 140.6540069580078,-47.92399978637695 C140.6540069580078,-47.92399978637695 139.87100219726562,-49.30500030517578 135.3419952392578,-51.39099884033203 C131.3209991455078,-53.24399948120117 128.21800231933594,-54.33100128173828 124.16799926757812,-54.33100128173828 C124.16799926757812,-54.33100128173828 0.5720000267028809,-54.33100128173828 0.5720000267028809,-54.33100128173828 C-4.691999912261963,-54.33100128173828 -11.102999687194824,-50.5989990234375 -13.640000343322754,-45.957000732421875 C-13.640000343322754,-45.957000732421875 -39.93000030517578,1.5049999952316284 -39.93000030517578,1.5049999952316284 C-39.93000030517578,1.5049999952316284 -44.18899917602539,9.16100025177002 -44.18899917602539,9.16100025177002 C-44.18899917602539,9.16100025177002 -58.97800064086914,35.827999114990234 -58.97800064086914,35.827999114990234z"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,181.1699981689453,57.138999938964844)">
            <path fill="rgb(255,255,255)" fill-opacity="1" d=" M-102.20700073242188,51.72600173950195 C-102.20700073242188,51.72600173950195 -102.20700073242188,51.77399826049805 -102.20700073242188,51.77399826049805 C-102.20700073242188,51.77399826049805 41.2869987487793,51.77399826049805 41.2869987487793,51.77399826049805 C45.513999938964844,51.77399826049805 49.40800094604492,49.47999954223633 51.45800018310547,45.78300094604492 C51.45800018310547,45.78300094604492 72.11000061035156,8.517999649047852 72.11000061035156,8.517999649047852 C72.11000061035156,8.517999649047852 100.91600036621094,-43.400001525878906 100.91600036621094,-43.400001525878906 C101.96800231933594,-45.361000061035156 102.20700073242188,-47.13199996948242 101.68099975585938,-48.56700134277344 C101.63300323486328,-48.75899887084961 101.53800201416016,-48.95000076293945 101.44200134277344,-49.141998291015625 C101.34600067138672,-49.38100051879883 101.2509994506836,-49.571998596191406 101.05899810791016,-49.763999938964844 C100.86799621582031,-50.00299835205078 100.62799835205078,-50.242000579833984 100.38899993896484,-50.481998443603516 C99.38400268554688,-51.29499816894531 97.85299682617188,-51.77399826049805 95.98699951171875,-51.77399826049805 C95.98699951171875,-51.77399826049805 -35.21699905395508,-51.77399826049805 -35.21699905395508,-51.77399826049805 C-40.48099899291992,-51.77399826049805 -46.893001556396484,-48.04100036621094 -49.42900085449219,-43.400001525878906 C-49.42900085449219,-43.400001525878906 -78.23400115966797,8.517999649047852 -78.23400115966797,8.517999649047852 C-78.23400115966797,8.517999649047852 -82.49299621582031,16.17300033569336 -82.49299621582031,16.17300033569336 C-82.49299621582031,16.17300033569336 -94.93399810791016,38.6150016784668 -94.93399810791016,38.6150016784668 C-94.93399810791016,38.6150016784668 -97.56500244140625,43.400001525878906 -97.56500244140625,43.400001525878906 C-97.56500244140625,43.400001525878906 -97.56500244140625,43.448001861572266 -97.61399841308594,43.448001861572266 C-97.61399841308594,43.448001861572266 -102.20700073242188,51.72600173950195 -102.20700073242188,51.72600173950195z"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,186.65499877929688,56.57500076293945)">
            <path fill="rgb(107,90,236)" fill-opacity="1" d=" M0.7450000047683716,-0.5640000104904175 C2.1059999465942383,-3.2880001068115234 4.418000221252441,-5.86299991607666 7.24399995803833,-7.796999931335449 C10.062999725341797,-9.727999687194824 13.199999809265137,-10.880999565124512 16.045000076293945,-11.031999588012695 C14.657999992370605,-8.307999610900879 12.322999954223633,-5.734000205993652 9.489999771118164,-3.799999952316284 C6.677999973297119,-1.8680000305175781 3.562999963760376,-0.7160000205039978 0.7450000047683716,-0.5640000104904175z M-6.464000225067139,-11.031999588012695 C-3.753000020980835,-10.880999565124512 -1.6399999856948853,-9.727999687194824 -0.5370000004768372,-7.796999931335449 C0.5699999928474426,-5.86299991607666 0.5920000076293945,-3.2880001068115234 -0.46700000762939453,-0.5640000104904175 C-3.1510000228881836,-0.7160000205039978 -5.239999771118164,-1.8680000305175781 -6.335000038146973,-3.799999952316284 C-7.449999809265137,-5.734000205993652 -7.498000144958496,-8.307999610900879 -6.464000225067139,-11.031999588012695z M-0.9679999947547913,0.5640000104904175 C-2.325000047683716,3.2880001068115234 -4.619999885559082,5.86299991607666 -7.410999774932861,7.796000003814697 C-10.182000160217285,9.727999687194824 -13.256999969482422,10.880999565124512 -16.045000076293945,11.031999588012695 C-14.71500015258789,8.307999610900879 -12.442999839782715,5.734000205993652 -9.657999992370605,3.799999952316284 C-6.880000114440918,1.8680000305175781 -3.7820000648498535,0.7149999737739563 -0.9679999947547913,0.5640000104904175z M6.019999980926514,11.031999588012695 C3.367000102996826,10.880999565124512 1.315999984741211,9.727999687194824 0.26100000739097595,7.796000003814697 C-0.8119999766349792,5.86299991607666 -0.8569999933242798,3.2869999408721924 0.20600000023841858,0.5630000233650208 C2.885999917984009,0.7139999866485596 4.998000144958496,1.8680000305175781 6.059000015258789,3.799999952316284 C7.125,5.734000205993652 7.110000133514404,8.307999610900879 6.019999980926514,11.031999588012695z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,154.7169952392578,335.25799560546875)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,69.98999786376953,104.51200103759766)">
            <path fill="rgb(107,90,236)" fill-opacity="1" d=" M-15.15999984741211,-97.5479965209961 C-15.15999984741211,-97.5479965209961 -69.73999786376953,-86.91999816894531 -69.73999786376953,7.4710001945495605 C-69.73999786376953,70.53099822998047 -20.961999893188477,104.26200103759766 60.68299865722656,88.90499877929688 C66.62999725341797,87.78600311279297 69.73999786376953,81.02799987792969 67.60600280761719,75.36499786376953 C65.91400146484375,70.8759994506836 61.3390007019043,68.13300323486328 56.590999603271484,68.822998046875 C33.262001037597656,72.21399688720703 -32.867000579833984,77.22699737548828 -32.867000579833984,25.07200050354004 C-32.867000579833984,-12.800999641418457 -20.347999572753906,-38.51599884033203 0.6740000247955322,-50.74800109863281 C22.44300079345703,-63.41299819946289 17.111000061035156,-104.26200103759766 -15.15999984741211,-97.5479965209961z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,212.63600158691406,246.40599060058594)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,37.13399887084961,38.551998138427734)">
            <path fill="rgb(255,255,255)" fill-opacity="1" d=" M-36.55500030517578,-0.5730000138282776 C-36.88399887084961,20.4060001373291 -20.78499984741211,37.66899871826172 -0.597000002861023,37.986000061035156 C19.591999053955078,38.301998138427734 36.22600173950195,21.552000045776367 36.55500030517578,0.5740000009536743 C36.88399887084961,-20.405000686645508 20.784000396728516,-37.667999267578125 0.5950000286102295,-37.98500061035156 C-19.593000411987305,-38.301998138427734 -36.22600173950195,-21.552000045776367 -36.55500030517578,-0.5730000138282776z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,185.67999267578125,223.15098571777344)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,58.428001403808594,79.33699798583984)">
            <path fill="rgb(47,34,149)" fill-opacity="1" d=" M57.290000915527344,-33.04399871826172 C57.290000915527344,-33.04399871826172 35.97600173950195,-19.465999603271484 -3.865000009536743,-33.7239990234375 C-32.94900131225586,-41.97100067138672 -3.8929998874664307,56.696998596191406 2.243000030517578,73.48699951171875 C2.243000030517578,73.48699951171875 -37.31999969482422,79.08699798583984 -47.749000549316406,52.2140007019043 C-58.178001403808594,25.340999603271484 -43.494998931884766,-79.08599853515625 7.341000080108643,-74.11499786376953 C58.178001403808594,-69.14399719238281 57.290000915527344,-33.04399871826172 57.290000915527344,-33.04399871826172z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,548.1600341796875,930.25)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,26.250999450683594,34)">
            <path fill="rgb(211,207,251)" fill-opacity="1" d=" M19.63599967956543,-33.75 C16.1200008392334,-33.75 13.270000457763672,-30.899999618530273 13.270000457763672,-27.384000778198242 C13.270000457763672,-27.384000778198242 -6.922999858856201,27.384000778198242 -6.922999858856201,27.384000778198242 C-6.922999858856201,27.384000778198242 -11.524999618530273,27.384000778198242 -11.524999618530273,27.384000778198242 C-16.084999084472656,27.384000778198242 -20.315000534057617,28.784000396728516 -23.80299949645996,30.569000244140625 C-26.00200080871582,31.695999145507812 -24.61400032043457,33.75 -21.63599967956543,33.75 C-21.63599967956543,33.75 -0.5580000281333923,33.75 -0.5580000281333923,33.75 C2.9579999446868896,33.75 5.809000015258789,30.89900016784668 5.809000015258789,27.384000778198242 C5.809000015258789,27.384000778198242 26.000999450683594,-27.384000778198242 26.000999450683594,-27.384000778198242 C26.000999450683594,-30.899999618530273 23.152000427246094,-33.75 19.63599967956543,-33.75z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,576.0250244140625,545.56201171875)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,107.16400146484375,207.35699462890625)">
            <path fill="rgb(73,57,196)" fill-opacity="1" d=" M-104.7239990234375,189.03399658203125 C-106.91500091552734,195.09800720214844 -104.11299896240234,201.8159942626953 -98.27100372314453,204.54200744628906 C-92.76899719238281,207.10699462890625 -86.22899627685547,205.35299682617188 -82.77799987792969,200.36000061035156 C-55.04600143432617,160.23899841308594 34.20199966430664,-18.621999740600586 66.80500030517578,-82.28099822998047 C79.90499877929688,-107.86299896240234 106.91400146484375,-128.4759979248047 106.91400146484375,-128.4759979248047 C106.91400146484375,-128.4759979248047 40.266998291015625,-207.10699462890625 40.266998291015625,-207.10699462890625 C1.3860000371932983,-132.98199462890625 -85.51399993896484,135.89599609375 -104.7239990234375,189.03399658203125z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,726.6640014648438,943.177978515625)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,16.601999282836914,27.535999298095703)">
            <path fill="rgb(211,207,251)" fill-opacity="1" d=" M9.807000160217285,-27.285999298095703 C6.192999839782715,-27.285999298095703 3.260999917984009,-24.35700035095215 3.260999917984009,-20.742000579833984 C3.260999917984009,-20.742000579833984 3.260999917984009,20.742000579833984 3.260999917984009,20.742000579833984 C3.260999917984009,20.742000579833984 -1.468999981880188,20.742000579833984 -1.468999981880188,20.742000579833984 C-6.1570000648498535,20.742000579833984 -10.505999565124512,22.18199920654297 -14.090999603271484,24.01799964904785 C-16.351999282836914,25.176000595092773 -14.923999786376953,27.285999298095703 -11.862000465393066,27.285999298095703 C-11.862000465393066,27.285999298095703 9.807000160217285,27.285999298095703 9.807000160217285,27.285999298095703 C13.42199993133545,27.285999298095703 16.351999282836914,24.35700035095215 16.351999282836914,20.742000579833984 C16.351999282836914,20.742000579833984 16.351999282836914,-20.742000579833984 16.351999282836914,-20.742000579833984 C16.351999282836914,-24.35700035095215 13.42199993133545,-27.285999298095703 9.807000160217285,-27.285999298095703z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,742.208984375,539.9089965820312)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,33.689998626708984,214.57000732421875)">
            <path fill="rgb(72,57,196)" fill-opacity="1" d=" M18.56800079345703,-214.32000732421875 C17.673999786376953,-191.9929962158203 33.439998626708984,-161.6269989013672 33.439998626708984,-128.47000122070312 C33.439998626708984,-57.356998443603516 -3.61899995803833,159.44400024414062 -11.23799991607666,204.98899841308594 C-12.138999938964844,210.375 -16.799999237060547,214.3209991455078 -22.261999130249023,214.3209991455078 C-28.43600082397461,214.3209991455078 -33.439998626708984,209.31700134277344 -33.439998626708984,203.1439971923828 C-33.439998626708984,203.1439971923828 -33.439998626708984,-128.47000122070312 -33.439998626708984,-128.47000122070312 C-33.439998626708984,-128.47000122070312 -32.05699920654297,-214.32000732421875 -32.05699920654297,-214.32000732421875 C-32.05699920654297,-214.32000732421875 18.56800079345703,-214.32000732421875 18.56800079345703,-214.32000732421875z"></path>
          </g>
        </g>
        <g transform="matrix(0.9848077297210693,-0.1736481785774231,0.1736481785774231,0.9848077297210693,707.4613037109375,301.0974426269531)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,42.7760009765625,43.722999572753906)">
            <path fill="rgb(255,255,255)" fill-opacity="1" d=" M33.180999755859375,16.281999588012695 C23.836000442504883,35.32400131225586 1.406000018119812,43.47200012207031 -16.920000076293945,34.479000091552734 C-35.244998931884766,25.48699951171875 -42.5260009765625,2.760999917984009 -33.180999755859375,-16.281999588012695 C-23.836999893188477,-35.32500076293945 -1.406000018119812,-43.472999572753906 16.91900062561035,-34.48099899291992 C35.244998931884766,-25.488000869750977 42.5260009765625,-2.760999917984009 33.180999755859375,16.281999588012695z"></path>
          </g>
        </g>
        <g transform="matrix(0.9848077297210693,-0.1736481785774231,0.1736481785774231,0.9848077297210693,685.7546997070312,251.94705200195312)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,59.11600112915039,68.81099700927734)">
            <path fill="rgb(47,34,149)" fill-opacity="1" d=" M-21.214000701904297,-52.93299865722656 C-33.887001037597656,-68.56099700927734 -58.867000579833984,-13.081000328063965 -23.253000259399414,-0.7129999995231628 C12.359999656677246,11.654999732971191 8.795999526977539,30.4060001373291 5.23199987411499,45.67300033569336 C3.796999931335449,51.82400131225586 9.449999809265137,68.56099700927734 26.600000381469727,57.38100051879883 C41.513999938964844,47.65800094604492 58.867000579833984,15.368000030517578 36.91899871826172,-13.553999900817871 C14.970000267028809,-42.474998474121094 3.171999931335449,-22.860000610351562 -21.214000701904297,-52.93299865722656z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,686.9810180664062,400.9320068359375)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,67.7770004272461,112.87000274658203)">
            <path fill="url(#__lottie_element_67)" fill-opacity="1" d=" M-53.433998107910156,-63.41999816894531 C-46.98500061035156,-4.163000106811523 -67.5270004272461,85.47699737548828 -67.5270004272461,85.47699737548828 C-67.5270004272461,85.47699737548828 -7.008999824523926,112.62000274658203 57.54600143432617,81.07499694824219 C57.54600143432617,81.07499694824219 39.573001861572266,32.65999984741211 46.17499923706055,-55.73400115966797 C46.17499923706055,-55.73400115966797 67.5270004272461,-103.68800354003906 38.59700012207031,-109.16600036621094 C27.673999786376953,-111.23400115966797 15.793999671936035,-112.62000274658203 4.301000118255615,-112.62000274658203 C-28.191999435424805,-112.62000274658203 -57.582000732421875,-101.53500366210938 -53.433998107910156,-63.41999816894531z"></path>
            <path fill="url(#__lottie_element_68)" fill-opacity="1" d=" M-53.433998107910156,-63.41999816894531 C-46.98500061035156,-4.163000106811523 -67.5270004272461,85.47699737548828 -67.5270004272461,85.47699737548828 C-67.5270004272461,85.47699737548828 -7.008999824523926,112.62000274658203 57.54600143432617,81.07499694824219 C57.54600143432617,81.07499694824219 39.573001861572266,32.65999984741211 46.17499923706055,-55.73400115966797 C46.17499923706055,-55.73400115966797 67.5270004272461,-103.68800354003906 38.59700012207031,-109.16600036621094 C27.673999786376953,-111.23400115966797 15.793999671936035,-112.62000274658203 4.301000118255615,-112.62000274658203 C-28.191999435424805,-112.62000274658203 -57.582000732421875,-101.53500366210938 -53.433998107910156,-63.41999816894531z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,701.2839965820312,383.8110046386719)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,51.76499938964844,55.95500183105469)">
            <path fill="rgb(107,90,236)" fill-opacity="1" d=" M-47.2859992980957,-20.566999435424805 C-34.93899917602539,-55.09400177001953 14.86400032043457,-58.40800094604492 42.7859992980957,-41.95100021362305 C67.70099639892578,-27.267000198364258 28.263999938964844,33.229000091552734 28.263999938964844,33.229000091552734 C28.263999938964844,33.229000091552734 -39.78200149536133,55.70500183105469 -51.51499938964844,10.222999572753906 C-51.51499938964844,10.222999572753906 -47.2859992980957,-20.566999435424805 -47.2859992980957,-20.566999435424805z"></path>
          </g>
        </g>
        <g transform="matrix(0.9781476259231567,0.2079116851091385,-0.2079116851091385,0.9781476259231567,638.6824340820312,423.59765625)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,23.738000869750977,18.149999618530273)">
            <path fill="rgb(211,207,251)" fill-opacity="1" d=" M23.488000869750977,12.017999649047852 C23.488000869750977,12.017999649047852 16.158000946044922,11.508000373840332 10.454000473022461,3.8329999446868896 C4.749000072479248,-3.8420000076293945 -2.6449999809265137,-14.234000205993652 -8.640999794006348,-16.06599998474121 C-14.63700008392334,-17.89900016784668 -23.488000869750977,-10.659000396728516 -14.449999809265137,0.16599999368190765 C-5.409999847412109,10.989999771118164 7.313000202178955,17.42099952697754 19.584999084472656,17.89900016784668 C19.584999084472656,17.89900016784668 23.488000869750977,12.017999649047852 23.488000869750977,12.017999649047852z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,605.22900390625,428.4519958496094)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,22.31100082397461,27.878000259399414)">
            <path fill="rgb(233,234,238)" fill-opacity="1" d=" M20.72100067138672,25.97599983215332 C20.72100067138672,25.97599983215332 -6.89300012588501,27.579999923706055 -6.89300012588501,27.579999923706055 C-7.736000061035156,27.628000259399414 -8.605999946594238,26.944000244140625 -8.836999893188477,26.051000595092773 C-8.836999893188477,26.051000595092773 -21.829999923706055,-24.270999908447266 -21.829999923706055,-24.270999908447266 C-22.06100082397461,-25.163999557495117 -21.56399917602539,-25.927000045776367 -20.72100067138672,-25.97599983215332 C-20.72100067138672,-25.97599983215332 6.89300012588501,-27.579999923706055 6.89300012588501,-27.579999923706055 C7.736000061035156,-27.628000259399414 8.607000350952148,-26.944000244140625 8.836999893188477,-26.051000595092773 C8.836999893188477,-26.051000595092773 21.829999923706055,24.270000457763672 21.829999923706055,24.270000457763672 C22.06100082397461,25.163999557495117 21.56399917602539,25.927000045776367 20.72100067138672,25.97599983215332z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,602.135009765625,431.20501708984375)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,22.309999465942383,27.878999710083008)">
            <path fill="rgb(255,255,255)" fill-opacity="1" d=" M20.72100067138672,25.975000381469727 C20.72100067138672,25.975000381469727 -6.89300012588501,27.57900047302246 -6.89300012588501,27.57900047302246 C-7.736999988555908,27.628000259399414 -8.607000350952148,26.94499969482422 -8.838000297546387,26.052000045776367 C-8.838000297546387,26.052000045776367 -21.83099937438965,-24.270999908447266 -21.83099937438965,-24.270999908447266 C-22.06100082397461,-25.163999557495117 -21.565000534057617,-25.92799949645996 -20.72100067138672,-25.976999282836914 C-20.72100067138672,-25.976999282836914 6.89300012588501,-27.579999923706055 6.89300012588501,-27.579999923706055 C7.736999988555908,-27.628999710083008 8.605999946594238,-26.94499969482422 8.836999893188477,-26.052000045776367 C8.836999893188477,-26.052000045776367 21.82900047302246,24.270999908447266 21.82900047302246,24.270999908447266 C22.059999465942383,25.163999557495117 21.565000534057617,25.926000595092773 20.72100067138672,25.975000381469727z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,607.8240356445312,451.447021484375)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,11.29800033569336,23.523000717163086)">
            <path fill="rgb(211,207,251)" fill-opacity="1" d=" M10.196000099182129,20.007999420166016 C10.196000099182129,20.007999420166016 7.915999889373779,11.170000076293945 7.8429999351501465,6.991000175476074 C7.669000148773193,-3.0840001106262207 11.04800033569336,-13.112000465393066 6.309999942779541,-19.038999557495117 C2.9260001182556152,-23.273000717163086 -4.301000118255615,-21.948999404907227 -7.043000221252441,-20.194000244140625 C-11.04800033569336,-17.631999969482422 -9.26099967956543,-7.807000160217285 -7.202000141143799,0.7049999833106995 C-5.86899995803833,6.216000080108643 -4.341000080108643,10.416000366210938 2.6619999408721924,23.27199935913086 C2.6619999408721924,23.27199935913086 10.196000099182129,20.007999420166016 10.196000099182129,20.007999420166016z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,616.2860107421875,400.9320068359375)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,72.35299682617188,79.2750015258789)">
            <path fill="rgb(107,90,237)" fill-opacity="1" d=" M20.145000457763672,-67.81900024414062 C7.4720001220703125,-44.81999969482422 -1.128000020980835,42.904998779296875 -26.700000762939453,44.810001373291016 C-37.02799987792969,45.57899856567383 -50.224998474121094,31.749000549316406 -55.250999450683594,13.895000457763672 C-57.09199905395508,7.348999977111816 -61.52899932861328,6.821000099182129 -65.96299743652344,7.973999977111816 C-69.75399780273438,8.960000038146973 -72.10399627685547,14.54800033569336 -70.4209976196289,19.77899932861328 C-67.79900360107422,27.922000885009766 -57.303001403808594,79.0250015258789 -18.07699966430664,74.17400360107422 C23.819000244140625,68.99299621582031 35.31999969482422,22.91200065612793 61.49599838256836,-36.06800079345703 C66.9219970703125,-48.29199981689453 72.10299682617188,-64.34100341796875 62.45500183105469,-73.90699768066406 C59.19300079345703,-77.14099884033203 52.327999114990234,-79.0250015258789 44.95199966430664,-79.0250015258789 C35.16999816894531,-79.02400207519531 24.490999221801758,-75.70600128173828 20.145000457763672,-67.81900024414062z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,678.93798828125,394.2669982910156)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,93.24600219726562,89.83599853515625)">
            <path fill="rgb(107,90,236)" fill-opacity="1" d=" M27.400999069213867,-83.28700256347656 C27.400999069213867,-83.28700256347656 94.99299621582031,-28.54400062561035 29.30500030517578,44.74399948120117 C-6.684999942779541,84.89800262451172 -91.2239990234375,21.593000411987305 -112.80999755859375,-17.996999740600586 C-115.18499755859375,-22.351999282836914 -113.2969970703125,-29.464000701904297 -108.50399780273438,-31.399999618530273 C-102.43599700927734,-33.85100173950195 -98.43499755859375,-28.85099983215332 -95.76799774169922,-25.384000778198242 C-85.58699798583984,-12.147000312805176 -30.06599998474121,32.215999603271484 -5.436999797821045,21.333999633789062 C27.06599998474121,6.9710001945495605 25.636999130249023,-20.079999923706055 10.911999702453613,-37.361000061035156 C-4.413000106811523,-55.34700012207031 -2.877000093460083,-89.58599853515625 27.400999069213867,-83.28700256347656z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,152.47100830078125,607.3489990234375)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,105.39600372314453,11.432000160217285)">
            <path fill="url(#__lottie_element_109)" fill-opacity="1" d=" M105.14600372314453,11.182000160217285 C105.14600372314453,11.182000160217285 -105.14600372314453,11.182000160217285 -105.14600372314453,11.182000160217285 C-105.14600372314453,11.182000160217285 -105.14600372314453,-11.182000160217285 -105.14600372314453,-11.182000160217285 C-105.14600372314453,-11.182000160217285 105.14600372314453,-11.182000160217285 105.14600372314453,-11.182000160217285 C105.14600372314453,-11.182000160217285 105.14600372314453,11.182000160217285 105.14600372314453,11.182000160217285z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,73.03300476074219,611.885986328125)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,55.08599853515625,81.98400115966797)">
            <path fill="rgb(163,255,250)" fill-opacity="1" d=" M41.64099884033203,-80.95500183105469 C12.3100004196167,-62.57699966430664 -46.569000244140625,-14.184000015258789 -54.83700180053711,81.73400115966797 C-54.83700180053711,81.73400115966797 54.83700180053711,41.12099838256836 54.83700180053711,41.12099838256836 C22.819000244140625,-7.607999801635742 37.00899887084961,-52.04800033569336 48.57500076293945,-74.53900146484375 C50.395999908447266,-78.08000183105469 47.60499954223633,-81.73400115966797 44.25299835205078,-81.73400115966797 C43.395999908447266,-81.73400115966797 42.50299835205078,-81.49500274658203 41.64099884033203,-80.95500183105469z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,10.413993835449219,661.93896484375)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,74.28700256347656,127.66799926757812)">
            <path fill="rgb(99,235,228)" fill-opacity="1" d=" M-4.90500020980835,-125.62999725341797 C-27.134000778198242,-98.87000274658203 -74.03600311279297,-11.199999809265137 4.794000148773193,127.41799926757812 C4.794000148773193,127.41799926757812 74.03600311279297,-0.36399999260902405 74.03600311279297,-0.36399999260902405 C9.86299991607666,-36.558998107910156 3.253000020980835,-96.03399658203125 3.7660000324249268,-122.43599700927734 C3.825000047683716,-125.46199798583984 1.371000051498413,-127.41799926757812 -1.1629999876022339,-127.41799926757812 C-2.509000062942505,-127.41799926757812 -3.878000020980835,-126.86599731445312 -4.90500020980835,-125.62999725341797z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,60.05799865722656,684.7349853515625)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,80.447998046875,116.2699966430664)">
            <path fill="rgb(99,235,228)" fill-opacity="1" d=" M72.49700164794922,-115.8290023803711 C-80.197998046875,-73.18499755859375 -71.3489990234375,116.0199966430664 -71.3489990234375,116.0199966430664 C-71.3489990234375,116.0199966430664 -1.5549999475479126,116.0199966430664 -1.5549999475479126,116.0199966430664 C5.539000034332275,10.442999839782715 57.47100067138672,-79.65899658203125 77.80599975585938,-108.26499938964844 C80.197998046875,-111.62999725341797 77.62100219726562,-116.0199966430664 73.86699676513672,-116.0199966430664 C73.42500305175781,-116.01899719238281 72.96600341796875,-115.95899963378906 72.49700164794922,-115.8290023803711z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,19.561996459960938,794.885009765625)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,64.66200256347656,61.19499969482422)">
            <path fill="rgb(7,206,196)" fill-opacity="1" d=" M-61.27799987792969,-52.58100128173828 C-17.341999053955078,-7.494999885559082 -15.067000389099121,60.94499969482422 -15.067000389099121,60.94499969482422 C-15.067000389099121,60.94499969482422 64.41200256347656,60.94499969482422 64.41200256347656,60.94499969482422 C31.121000289916992,-22.4060001373291 -28.02899932861328,-53.95500183105469 -56.69200134277344,-60.79899978637695 C-57.108001708984375,-60.89899826049805 -57.512001037597656,-60.94499969482422 -57.9010009765625,-60.94499969482422 C-61.98899841308594,-60.94499969482422 -64.41200256347656,-55.79899978637695 -61.27799987792969,-52.58100128173828z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,80.92900085449219,810.8240356445312)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,58.77199935913086,53.224998474121094)">
            <path fill="rgb(7,206,196)" fill-opacity="1" d=" M49.928001403808594,-52.52299880981445 C22.55900001525879,-40.31399917602539 -26.34600067138672,-4.250999927520752 -58.52199935913086,52.974998474121094 C-58.52199935913086,52.974998474121094 8.9350004196167,52.974998474121094 8.9350004196167,52.974998474121094 C17.707000732421875,12.321999549865723 40.43199920654297,-27.172000885009766 55.630001068115234,-44.869998931884766 C58.52199935913086,-48.23899841308594 55.78900146484375,-52.974998474121094 51.97100067138672,-52.974998474121094 C51.31399917602539,-52.974998474121094 50.625999450683594,-52.834999084472656 49.928001403808594,-52.52299880981445z"></path>
          </g>
        </g>
        <g transform="matrix(1,0,0,1,58.33300018310547,906.4030151367188)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,52.709999084472656,46.92300033569336)">
            <path fill="rgb(249,249,251)" fill-opacity="1" d=" M38.52299880981445,46.67399978637695 C38.52299880981445,46.67399978637695 -38.52299880981445,46.67399978637695 -38.52299880981445,46.67399978637695 C-41.02899932861328,46.67399978637695 -43.13199996948242,44.78099822998047 -43.393001556396484,42.28900146484375 C-43.393001556396484,42.28900146484375 -52.15599822998047,-41.26599884033203 -52.15599822998047,-41.26599884033203 C-52.45899963378906,-44.15599822998047 -50.19300079345703,-46.67300033569336 -47.28799819946289,-46.67300033569336 C-47.28799819946289,-46.67300033569336 47.2859992980957,-46.67300033569336 47.2859992980957,-46.67300033569336 C50.19200134277344,-46.67300033569336 52.459999084472656,-44.15599822998047 52.15599822998047,-41.26599884033203 C52.15599822998047,-41.26599884033203 43.39099884033203,42.28900146484375 43.39099884033203,42.28900146484375 C43.12900161743164,44.78099822998047 41.02899932861328,46.67399978637695 38.52299880981445,46.67399978637695z"></path>
          </g>
        </g>
        <g transform="matrix(1.149999976158142,0,0,1.149999976158142,826.3911743164062,822.3027954101562)" opacity="1" style="display: block;">
          <g opacity="1" transform="matrix(1,0,0,1,16.514999389648438,35.0880012512207)">
            <path fill="rgb(248,79,79)" fill-opacity="1" d=" M13.505000114440918,32.016998291015625 C13.505000114440918,32.016998291015625 -3.3340001106262207,34.5880012512207 -3.3340001106262207,34.5880012512207 C-4.9710001945495605,34.8380012512207 -6.499000072479248,33.7140007019043 -6.749000072479248,32.07899856567383 C-6.749000072479248,32.07899856567383 -16.014999389648438,-28.60300064086914 -16.014999389648438,-28.60300064086914 C-16.264999389648438,-30.23900032043457 -15.140999794006348,-31.76799964904785 -13.505000114440918,-32.018001556396484 C-13.505000114440918,-32.018001556396484 3.3350000381469727,-34.5890007019043 3.3350000381469727,-34.5890007019043 C4.9710001945495605,-34.8380012512207 6.5,-33.71500015258789 6.749000072479248,-32.07899856567383 C6.749000072479248,-32.07899856567383 16.016000747680664,28.601999282836914 16.016000747680664,28.601999282836914 C16.264999389648438,30.23900032043457 15.142000198364258,31.767000198364258 13.505000114440918,32.016998291015625z"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,47.76499938964844,36.02199935913086)">
            <path fill="rgb(7,144,255)" fill-opacity="1" d=" M8.517000198364258,33.68899917602539 C8.517000198364258,33.68899917602539 -8.517000198364258,33.68899917602539 -8.517000198364258,33.68899917602539 C-10.17199993133545,33.68899917602539 -11.513999938964844,32.347999572753906 -11.513999938964844,30.69300079345703 C-11.513999938964844,30.69300079345703 -11.513999938964844,-30.69300079345703 -11.513999938964844,-30.69300079345703 C-11.513999938964844,-32.347999572753906 -10.17199993133545,-33.68899917602539 -8.517000198364258,-33.68899917602539 C-8.517000198364258,-33.68899917602539 8.517000198364258,-33.68899917602539 8.517000198364258,-33.68899917602539 C10.17199993133545,-33.68899917602539 11.513999938964844,-32.347999572753906 11.513999938964844,-30.69300079345703 C11.513999938964844,-30.69300079345703 11.513999938964844,30.69300079345703 11.513999938964844,30.69300079345703 C11.513999938964844,32.347999572753906 10.17199993133545,33.68899917602539 8.517000198364258,33.68899917602539z"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,70.79299926757812,36.02199935913086)">
            <path fill="rgb(255,226,128)" fill-opacity="1" d=" M8.517000198364258,33.68899917602539 C8.517000198364258,33.68899917602539 -8.517999649047852,33.68899917602539 -8.517999649047852,33.68899917602539 C-10.17199993133545,33.68899917602539 -11.513999938964844,32.347999572753906 -11.513999938964844,30.69300079345703 C-11.513999938964844,30.69300079345703 -11.513999938964844,-30.69300079345703 -11.513999938964844,-30.69300079345703 C-11.513999938964844,-32.347999572753906 -10.17199993133545,-33.68899917602539 -8.517999649047852,-33.68899917602539 C-8.517999649047852,-33.68899917602539 8.517000198364258,-33.68899917602539 8.517000198364258,-33.68899917602539 C10.17199993133545,-33.68899917602539 11.513999938964844,-32.347999572753906 11.513999938964844,-30.69300079345703 C11.513999938964844,-30.69300079345703 11.513999938964844,30.69300079345703 11.513999938964844,30.69300079345703 C11.513999938964844,32.347999572753906 10.17199993133545,33.68899917602539 8.517000198364258,33.68899917602539z"></path>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
