<%= form_with(model: app) do |form| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
        <% app.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="spacer clearfix mt-5"></div>
  <div class="row">
    <div class="col-sm-4">
      <div class="d-flex flex-column align-items-start jsutify-content-center mb-3">
        <span class="fs-2">Add Details</span>
        <span class="fs-6">This information is used to identify your app in the KPI tool</span>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="border rounded bg-white p-4 shadow">
        <div class="field m-3">
          <%= form.label :app_name %>
          <%= form.text_field :app_name, class: "form-control my-2", required: "required" %>
        </div>

        <div class="field m-3">
          <%= form.label :app_url %>
          <%= form.text_field :app_url, class: "form-control my-2" %>
        </div>

        <div class="field m-3">
          <%= form.label :business_id %>
          <%= form.select :business_id, options_from_collection_for_select(Business.mine(current_user.id), :id, :business_name, Business.mine(current_user.id).first.id), {}, class: "form-control my-2", required: "required" %>
        </div>

      </div>
    </div>
    <div class="col-sm-12 my-5 border-bottom"></div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="d-flex flex-column align-items-start jsutify-content-center mb-3">
        <span class="fs-2">API Keys and Endpoints</span>
        <span class="fs-6">
          This information will be used top pull data from your app, Shopify, Stripe and any thrid party platform.
          It's important to double check as a typo in any of the details <b>WILL</b> result in inaccurate data.
          <%= link_to docs_path, target: "_BLANK" do %>
            Learn more about data import<span class="material-icons tiny-icons">open_in_new</span>
          <% end %>
        </span>

        <span class="shopify_extras fs-6 border-top py-5 mt-5" style="display: none;">
          <b>IMPORTANT</b> To connect your account, go to your Shopify Partners Dashboard, <a href="https://shopify.dev/docs/partner-api/getting-started#create-an-api-client" target="_BLANK">create an API client</a>, with View <b>financials</b> and <b>Manage apps</b> permissions.
          Also add <b>"Manage themes"</b> and <b>"Manage Jobs"</b> permission, if you have any revenue from those. Then enter the details here:
        </span>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="border rounded bg-white p-4 shadow">
        <!--div class="field m-3">
          <% form.label :running_data_endpoint %>
          <% form.text_field :running_data_endpoint, class: "form-control my-2", required: "required"  %>
        </div-->
        <!-- div class="field m-3">
          <% form.label :platform_id %>
          <% form.select :platform_id, options_from_collection_for_select(Platform.all, :id, :name), {prompt: "Select Default Platform"}, class: "form-control display_shopify_extras my-2"  %>
        </div-->
        <%= form.hidden_field :platform_id, value: Platform.find_or_create_by(name: 'Shopify').id %>
        <div class="field m-3">
          <%= form.label :api_key %>
          <%= form.text_field "api_key", class: "form-control my-2" %>
        </div>
        <div class="field m-3">
          <% form.label :secondary_api_key %>
          <% form.text_field "secondary_api_key", class: "form-control my-2" %>
        </div>
        <div class="field m-3 _shopify_extras" style="/*display: none;*/">
          <%= form.label :app_code %>
          <%= form.text_field "app_code", class: "form-control my-2" %>
        </div>
        <div class="field m-3 _shopify_extras" style="/*display: none;*/">
          <%= form.label :partner_id %>
          <%= form.text_field "partner_id", class: "form-control my-2" %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 my-5 border-bottom"></div>
  </div>

  <div class="row">
    <div class="col-sm-12 mb-5">
      <div class="actions whole-width text-end">
        <%= form.submit class: "shopify-button btn-lg" %>
      </div>
    </div>
  </div>
<% end %>
