<div class="row">
  <div class="col-sm-12">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1>Apps</h1>
      </div>
      <div>
        <%= link_to "Add App", new_app_path, class: "shopify-button px-5 py-2" %>
      </div>
    </div>
  </div>
  <div class="mt-4"></div>
  <div class="col-sm-12">
    <div class="input-group border rounded">
      <input type="text" class="form-control" placeholder="Search for apps by title ID or ApI Key" />
      <span class="point_me search-button d-flex align-items-center justify-content-center px-5">Search</span>
    </div>
  </div>
  <div class="mt-4"></div>
  <div class="col-sm-12">
    <div class="border rounded bg-white">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>App name</th>
            <th>Platform</th>
            <th>Revenue</th>
            <th>Running Data Import</th>
            <th>Platform Data Import</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @apps.each do |app| %>
            <tr>
              <td><%= app.app_name %></td>
              <td><%= app.name %></td>
              <td>$<%= RunningDatum.where(app_id: app.id).last || 0 %></td>
              <td>
                <span class="text-success d-flex align-items-center justify-content-start">
                  <span class="material-icons small-icons">adjust</span>
                  <span class="ps-1">Ok</span>
                </span>
              </td>
              <td>
                <span class="text-danger d-flex align-items-center justify-content-start">
                  <span class="material-icons small-icons">error</span>
                  <span class="ps-1">Failing</span>
                </span>
              </td>
              <td><%= link_to 'Show', app %></td>
              <td><%= link_to 'Edit', edit_app_path(app) %></td>
              <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
