<div class="row">
  <div class="col-sm-12">
    <div class="border-bottom pb-4">
      <span class="fs-3"><%= @app.app_name %></span>
    </div>
  </div>
</div>

<%= render '/apps/stats/general' %>
<%= render '/apps/stats/charts' %>
<%= render '/apps/stats/running_data' %>
<%= render '/apps/stats/third_party_data' %>

<% link_to 'Edit', edit_app_path(@app) %>
<% link_to 'Destroy', @app, method: :delete, data: { confirm: 'Are you sure?' } %>
<% link_to 'Back', apps_path %>
