<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="d-flex align-items-center justify-content-between p-3">
      <span class="fs-3 fw-bolder"><%= @app.app_name.humanize %></span>
      <%= link_to "Team", team_path(@app.id), class: "shopify-button text-center py-2" %>
    </div>
    <%- if @external_metric.present? %>
      <% @external_metric.group_by(&:platform_id).keys.each do |platform_id| %>
        <%= render '/apps/stats/third_party_data', platform: Platform.find(platform_id), monthly_metrics: @external_monthly_metric.filter{ |f| f.platform_id == platform_id }, external_metric: @external_metric.filter{ |f| f.platform_id == platform_id }.first %>
      <% end %>
    <% else %>
      <div class="shadow border rounded p-3 col-xs-12 m-3 bg-white fs-4 fw-lighter">
        <% apis = ThirdPartyApi.where(app_id: @app.id) %>
        <% if apis.blank? %>
          <%= link_to "Connect #{@app.app_name.humanize} to a platform", new_third_party_api_path %>
        <% else %>
          <% apis.map do |api| %>
            <%= link_to "Set Up #{@app.app_name} Shopify API connection", third_party_api_path(api.id) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%- if RunningMetric.where(app_id: @app.id).present? %>
      <div class="row">
        <div class="col-sm-12">
          <div class="border-bottom pb-4">
            <span class="fs-3"><% @app.app_name %></span>
          </div>
        </div>
      </div>
      <% render '/apps/stats/general' %>
      <% render '/apps/stats/charts' %>
      <% render '/apps/stats/running_data' %>
    <% else %>
      <% render '/apps/messages/running_data_absent' %>
    <% end %>
  </div>
  <div class="col-sm-1"></div>
</div>
<% link_to 'Edit', edit_app_path(@app) %>
<% link_to 'Destroy', @app, method: :delete, data: { confirm: 'Are you sure?' } %>
<% link_to 'Back', apps_path %>
