<% user_growth = (@external_metrics.sum(:new_users) + @external_metrics.sum(:reactivations)) - (@external_metrics.sum(:lost_users) + @external_metrics.sum(:deactivations)) %>
<% growth_color = if user_growth.positive? %>
<% "text-cuccess" %>
<% elsif user_growth.negative? %>
  <% "text-danger" %>
<% else %>
  <% "" %>
<% end %>
<div class="row overview_cards m-3">
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= revenue_breakdown_path+'#gross' %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">Gross MRR</div>
      <hr>
      <div class="fs-1"><small class="fs-6"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(@external_metrics.sum(:gross), precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= revenue_breakdown_path+'#net' %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">Net MRR</div>
      <hr>
      <div class="fs-1"><small><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(@external_metrics.sum(:net), precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= revenue_breakdown_path+'#arr' %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">ARR</div>
      <hr>
      <div class="fs-1"><small class="fs-6"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(@external_metrics.sum(:arr), precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
</div>
<div class="row overview_cards m-3">
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= revenue_breakdown_path+'#recurring_revenue' %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">Recurring Revenue</div>
      <hr>
      <div class="fs-1"><small class="fs-6"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(@external_monthly_metrics.sum(:recurring_revenue), precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= revenue_breakdown_path+'#one_time_charge' %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">One Time Charge</div>
      <hr>
      <div class="fs-1"><small class="fs-6"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(@external_monthly_metrics.sum(:one_time_charge), precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= revenue_breakdown_path+'#refunds' %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">Refunds</div>
      <hr>
      <div class="fs-1"><small class="fs-6"><%= Money::Currency.find('USD').symbol %></small> <%= number_with_precision(@external_monthly_metrics.sum(:refunds), precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
</div>
<div class="row overview_cards m-3">
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= business_user_growth_metrics_path %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">User Growth Last 24 hrs</div>
      <hr>
      <div class="fs-1 <%= growth_color %>"><%= number_with_precision(user_growth, precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
  <div class="col-sm-4 pointer">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">ARPU last 30</div>
      <% monthly_users = (@external_monthly_metrics.sum(:new_users) + @external_monthly_metrics.sum(:reactivations)) - (@external_monthly_metrics.sum(:lost_users) + @external_monthly_metrics.sum(:deactivations)) %>
      <hr>
      <div class="fs-1"><%= number_with_precision((@external_metrics.sum(:net)/monthly_users), precision: 2, delimiter: ',', separator: '.') %></div>
    </div>
  </div>
  <div class="col-sm-4 pointer" onclick="window.location.href = '<%= apps_path %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">Total Apps</div>
      <hr>
      <div class="fs-1"><%= @external_metrics.count %></div>
    </div>
  </div>
</div>
<div class="row overview_cards m-3">
  <% to_deactivations = "#{business_user_growth_metrics_path}#deactivations" %>
  <% to_reactivations = "#{business_user_growth_metrics_path}#reactivations" %>
  <% to_installs = "#{business_user_growth_metrics_path}#installs" %>
  <% to_uninstalls = "#{business_user_growth_metrics_path}#uninstalls" %>
  <div class="col-sm-3 pointer" onclick="window.location.href = '<%= to_installs %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">New Users Last 24 hrs</div>
      <hr>
      <div class="fs-1"><%= @external_metrics.sum(:new_users) %></div>
    </div>
  </div>
  <div class="col-sm-3 pointer" onclick="window.location.href = '<%= to_uninstalls %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">Lost Users Last 24 hrs</div>
      <hr>
      <div class="fs-1"><%= @external_metrics.sum(:lost_users) %></div>
    </div>
  </div>
  <div class="col-sm-3 pointer" onclick="window.location.href = '<%= to_reactivations %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">Returning Users Last 24 hrs</div>
      <hr>
      <div class="fs-1"><%= @external_metrics.sum(:reactivations) %></div>
    </div>
  </div>
  <div class="col-sm-3 pointer" onclick="window.location.href = '<%= to_deactivations %>'">
    <div class="border rounded p-3 shadow bg-white">
      <div style="font-size: 13px; opacity: 0.6;">Deactivations Last 24 hrs</div>
      <hr>
      <div class="fs-1"><%= @external_metrics.sum(:deactivations) %></div>
    </div>
  </div>
</div>
