<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="bg-white shadow border rounded p-4">
      <div class="row">
        <div class="col-sm-6 border-end pe-2">
          <p>
            <%= @app.app_name.humanize %>
            has a running data endpoint pointed to 
            <%= link_to @app.running_data_endpoint %>. 
            There's currently no data so let's get you set up
          </p>
          <div><img src='https://miro.medium.com/max/1076/1*Kr0i6XlnHE1-oAx_sNp-hQ.gif' class="active_test_running_data_loader" style="display: none;" /></div>
          <span class="shopify-button override-danger px-3 py-2 point_me" data-target="test_running_data" data-path="<%= test_running_data_url(@app.id) %>">Test Running Data Import</span>
          <span class="shopify-button px-3 py-2 point_me" style="display: none;" data-target="import_running_data" data-path="<%= test_running_data_url(@app.id) %>">Import Running Data Import</span>
          <%= link_to "Edit App Details", edit_app_path, class: "shopify-button override-info px-3 py-2 point_me" %>
          <div></div>
        </div>
        <div class="col-sm-6">
          <%= render 'apps/data/main_block' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
