<!DOCTYPE html>
<html>
  <head>
    <title>Metrics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%- if controller_name == 'home' %>
      <script>
        var is_home = true
      </script>
      <%= stylesheet_link_tag "home", media: "all", 'data-turbolinks-track': "reload" %>
    <% else %>
      <script>
        var is_home = false
      </script>
      <%= render "layouts/header" %>
      <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <% end %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <!-- Hotjar Tracking Code for https://inflowmetrics.com -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:2969322,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>
  <body>
    <%= render 'layouts/constants' %>
    <% if user_signed_in? && controller_name != 'home' %>
      <%= render 'layouts/nav' %>
      <%= render 'layouts/account_bar' %>
      <div class="main-content">
        <%- if action_name == 'show' %>
          <%= yield %>
        <% else%>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <%= yield %>
            </div>
            <div class="col-sm-1"></div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%- if controller_name == 'home' %>
        <%= render "home/header" %>
      <% end %>
      <%= yield %>
    <% end %>
    <%= toastr_flash %>
  </body>
</html>
