<!DOCTYPE html>
<html>
  <head>
    <title>Metrics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%- if controller_name == 'home' %>
      <script>
        var is_home = true
      </script>
      <%= stylesheet_link_tag "home", media: "all", 'data-turbolinks-track': "reload" %>
    <% else %>
      <%= render "layouts/header" %>
      <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <% end %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>
  <body>
    <%= render 'layouts/constants' %>
    <% if user_signed_in? && controller_name != 'home' %>
      <%= render 'layouts/nav' %>
      <%= render 'layouts/account_bar' %>
      <div class="main-content">
        <%- if action_name == 'show' %>
          <%= yield %>
        <% else%>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <%= yield %>
            </div>
            <div class="col-sm-1"></div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%- if controller_name == 'home' %>
        <%= render "home/header" %>
      <% end %>
      <%= yield %>
    <% end %>
    <%= toastr_flash %>
  </body>
</html>
